@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
    --black: #395307;
    --white: #ffffff;
    --primary: #92a86b;

    --shadow:0.5rem .5rem .6rem rgba(27, 23, 37);
    --border:.1rem solid rgba(0,0,0,.3);
}


*{
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

*::selection{
    color: var(--white);
}

::-webkit-scrollbar{
    width: 1rem;
    height: .5rem;
}

::-webkit-scrollbar-track{
    background-color: var(--black);
}

::-webkit-scrollbar-thumb{
    background-color: var(--white);
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}


section{
    margin: 0;
    backdrop-filter: blur(5px);
}



header{
    position: sticky;
    top: 0;
    padding: 0 2rem;
    z-index: 1000;
    background: transparent;
}

header .flex{
    display: flex;
    flex-direction: row;
}


header .logo{
    color: var(--black);
    font-size: 4.5rem;
    text-shadow: var(--shadow);
    text-transform: uppercase;
    flex: 1;
}


header .flex .navbar{
    display: flex;
    align-items: center;
    flex: 2;
}

header .flex .navbar a{
    position: relative;
    padding: .3rem 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black);
    border-radius: .5rem;
    text-transform: capitalize;
    transition: color 0.3s linear;
}

header .flex .navbar a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: var(--black);
    transition: width 0.3s ease-in-out;
}

header .flex .navbar a:hover::after {
    width: 100%;
}

.button{
    padding-top: 2rem;
}

.button a{
    color: var(--white);
    font-size: 2rem;
    box-shadow: var(--shadow);
    padding: 1rem;
    border-radius: 1rem;
}

.button a:hover{
    background-color: var(--black);
}

body{
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: color;
}




.btn{
    display: inline-block;
    padding: 1rem;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--white);
    font-weight: bold;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: .8rem;
    text-transform: capitalize;
    text-align: center;
    box-shadow: var(--shadow);
}

.btn:hover{
    background-color: var(--black);
}


#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 1;
    background: inherit;
    width: 100%;
    backdrop-filter: none;
}

#home .container{
    display: block;
    position: relative;
}


h2{
    font-size: 1.5rem;
    color: var(--white);
    text-shadow: var(--shadow);
    display: flex;
    align-items: center;
}

.container h2::after{
    content: '';
    flex-grow: 1;
    height: 2px;
    margin-left: 10px;
    border-radius: 1rem;
    background-color: var(--white);
}

#home .container h1{
    font-size: 5rem;
    color: var(--white);
    text-shadow: var(--shadow);
    padding-bottom: 2rem;
    font-family: 'comfortaa', cursive;
    text-transform: capitalize;
}







#about, #transport{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
    z-index: 2;
    width: 100%;
}


#about .container, #transport .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 15rem;
    flex: 1;
}

#about .img-container, #transport .img-container{
    display: flex;
    justify-content: end;
    width: 100rem;
    height: 40rem;
    flex: 2;
}

#about img, #transport img{
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 20rem;
    border-bottom-left-radius: 20rem;
    box-shadow: var(--shadow);
}

#about p, #transport p{
    color: var(--white);
    font-size: 1.2rem;
    text-shadow: var(--shadow);
    padding: 1.8rem 0;
}

span{
    color: var(--primary);
    font-size: 2.5rem;
    text-shadow: var(--shadow);
    font-weight: bold;
}


a{
    color: var(--white);
    font-size: 1.5rem;
}

i{
    font-size: 1.5rem;
    padding-left: .5rem;
}











#travel-map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
}


#travel-map .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 15rem;
    flex: 1;
}

#travel-map .img-container{
    display: flex;
    justify-content: start;
    width: 100rem;
    height: 40rem;
    flex: 2;
}

#travel-map img{
    max-width: 100%;
    max-height: 100%;
    border-top-right-radius: 20rem;
    border-bottom-right-radius: 20rem;
    box-shadow: var(--shadow);
}

#travel-map p{
    color: var(--white);
    font-size: 1.2rem;
    text-shadow: var(--shadow);
    padding: 1.8rem 0;
}










#more {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 15rem;
}


#more .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;

}

#more .container{
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

#more p{
    color: var(--white);
    font-size: 1.8rem;
    text-shadow: var(--shadow);
    padding: 1.8rem 0;
}

#more h2{
    color: var(--primary);
    font-size: 2.5rem;
}












.location{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10rem;
    padding-top: 1rem;
    flex-wrap: wrap;
}

.card-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    position: relative;
    width: 20rem;
    height: 30rem;
    overflow: hidden;
    transition: transform 0.3s ease;
    border-radius: 1rem;
    box-shadow: var(--shadow);
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}
.card:hover {
    transform: scale(1.1);
}
.card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--white);
    font-size: 1.8em;
    z-index: 2;
}

.card-blur {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 1;
}

















/*            footer          */




.footer {
    background-color: var(--black);
    color: var(--white);
    padding: 2rem 0;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .social-icons {
    margin: 1rem 0;
}

.footer .social-icons a {
    margin: 0 10px;
    color: var(--white);
    font-size: 2rem;
}

.footer .social-icons a:hover{
    color: var(--primary);
}

.footer p {
    margin: 0;
    font-size: 1.3rem;
}

.c-info .in a{
    font-size: 1.2rem;
}

.c-info .in {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--white);
}

.c-info .in i{
    color: var(--white);
    padding-right: 1rem;
}

.newsletter input{
    border-radius: .5rem; 
    padding: .2rem;  
}


















@media (max-width: 768px) {
    header .flex {
        flex-direction: column;
    }

    header .logo {
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }

    header .flex .navbar {
        flex-direction: column;
        width: 100%;
    }

    header .flex .navbar a {
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
    }

    .button {
        text-align: center;
        padding-top: 1rem;
    }

    .button a {
        color: var(--black);
        font-size: 1.5rem;
        padding: 0.5rem 1rem;
    }

    #home {
        padding: 0 1rem;
    }

    #home .container h1 {
        font-size:3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .container h2::after {
        margin-left: 5px;
    }

    #about, #transport{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
    #about .container, #transport .container{
        padding-left: 0;
        align-items: center;
        text-align: center;
    }
    #about .img-container, #transport .img-container,#travel-map .img-container{
        display: none;
        visibility: hidden;
        height: 0;
        width: 0;
        padding: 0;
        margin: 0;
    }

    #about img, #transport img, #travel-map img{
        display: none;
        visibility: hidden;
    }

    #about p, #transport p{
        font-size: 1rem;
        padding: 1rem 0;
    }
    #travel-map{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
    }
    #travel-map .container{
        padding-right: 0;
        align-items: center;
        text-align: center;
    }
    
    #more{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .footer .container{
        display: flex;
        flex-direction: column;
    }

    .card{
        width: 14rem;
        height: 21rem;
    }
}









@media (max-width: 480px) {
    body{
        background-color: var(--black);
    }

    section{
        backdrop-filter: none;
        background-color: var(--black);
    }

    header{
        padding: 0;
    }

    header .logo {
        font-size: 2rem;
        color: var(--white);
    }

    header .flex .navbar a {
        font-size: 1rem;
        padding: 0.5rem 1rem;
        color: var(--white);
    }

    .button a {
        color: var(--white);
        font-size: 1.2rem;
        padding: 0.5rem 1rem;
    }

    #home .container{
        padding: 3rem;
    }

    #home .container h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1rem;
    }

    .container h2::after {
        display: none; 
    }

    #about, #transport{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about .container, #transport .container {
        padding-left: 0;
    }


    p{
        font-size: 1rem;
        padding: 0.8rem 0;
    }

    .card{
        width: 12rem;
        height: 18rem;
    }

    .card-title{
        font-size: 1.5rem;
    }

    .location{
        padding-bottom: 5rem;
        padding-top: 0.5rem;
    }
}
